.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.logo-head-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 70px;
  height: 80px;
  margin-right: 10px;
}
.head {
  color: #ffffff;
  font-family: 'Bree Serif';
}

.team-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
